//
//  Shared.xcconfig
//  Telda-MoviesApp
//
//  Created by Khaled Elshamy on 26/06/2025.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

App_bundle_identifier = KhaledElshamy.MoviesApp
App_name = TMDB Movies

API_BASE_URL = api.themoviedb.org
IMAGE_BASE_URL = image.tmdb.org
API_KEY = e552d7e3015fad1250584f2616c1414c
TMDB_access_token = Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJlNTUyZDdlMzAxNWZhZDEyNTA1ODRmMjYxNmMxNDE0YyIsIm5iZiI6MTc1MDg5NTc4Ny4zMTQsInN1YiI6IjY4NWM4Y2FiMjMzNGJmOGM2MDdiM2NiMyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.IBcdUY7Kiivwf-wt-mSlZhScAD8ABn_vs88bZFoAw2c
